<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="admin-container">
    <h1 class="heading">Admin Panel</h1>
    <form class="form-container" action="/" method="POST">
        <p class="label">Title</p>
        <input type="text" placeholder="Title" name="title" class="admin-panel-input title">
        <p class="label">Description</p>
        <textarea type="password" placeholder="Description" name="password" class="admin-panel-input description">
        </textarea>
        <button class="submit-button">Send</button>
    </form>
</div>
</body>
</html>