<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="admin-container">
    <h1 class="heading">Admin Panel</h1>
    <ul>
        <% resources.forEach(function(resource) { %>
        <li><%= resource.title %> - <%= resource.description %></li>
        <% }); %>
    </ul>
    <form class="form-container" action="/add-resource" method="POST">
        <p class="label">Title</p>
        <input type="text" placeholder="Title" name="title" class="admin-panel-input title">
        <p class="label">Description</p>
        <textarea placeholder="Description" name="description" class="admin-panel-input description">
        </textarea>
        <button class="submit-button">Send</button>
    </form>
</div>
</body>
</html>